In [1]:
odd = [1, 3, 5, 7, 9]

In [2]:
odd

[1, 3, 5, 7, 9]

In [3]:
a = []
b = [1, 2, 3]
c = ["Life", "is", "too", "short"]
d = [1, 2, 'Life', 'is']
e = [1, 2, ["Life", "is"]]

In [4]:
a = [1, 2, 3]

In [5]:
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0]+a[2]

4

a[-1]

In [8]:
a[-1]

3

In [9]:
a[-1][2]

TypeError: 'int' object is not subscriptable

In [10]:
a = [1,2,3,4,5]

In [11]:
a[0:2]

[1, 2]

In [ ]:
a = [1,2,3]
B =[4,5,6]

In [12]:
a + b

[1, 2, 3, 4, 5, 1, 2, 3]

In [13]:
a * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
len(a)

5

In [15]:
a =[1,2,3]

In [16]:
a[2]=4

In [17]:
a

[1, 2, 4]

In [21]:
del a[2:]

In [22]:
a

[1, 2]

In [23]:
a =[1,2,3]

In [24]:
a.append(4)

In [25]:
a

[1, 2, 3, 4]

In [26]:
a.append([5,6])

In [27]:
a

[1, 2, 3, 4, [5, 6]]

In [28]:
a = [1,4,3,2]

In [29]:
a.sort()

In [30]:
a

[1, 2, 3, 4]

In [31]:
a = ['a', 'c', 'b']

In [32]:
a.reverse()

In [33]:
a

['b', 'c', 'a']

In [34]:
a = [2,3,1]

In [36]:
a.sort()
a.reverse()

In [37]:
a

[3, 2, 1]

In [38]:
a = [1,2,3]

In [40]:
a.index(3)

2

In [41]:
a.index(0)

ValueError: 0 is not in list

In [42]:
a.insert(0,4)

In [43]:
a

[4, 1, 2, 3]

In [44]:
a = [1,2,3,1,2,3]

In [45]:
a.remove(3)

In [46]:
a

[1, 2, 1, 2, 3]

In [47]:
a.remove(3)

In [48]:
a

[1, 2, 1, 2]

In [49]:
a = [1,2,3]

In [50]:
a.pop()

3

In [51]:
a

[1, 2]

In [52]:
a.count(1)

1

In [54]:
a = [1,2,3]
a.extend([4,5])

In [55]:
a

[1, 2, 3, 4, 5]

In [56]:
t1 = ()
t2 = (1,)# 원소가 하나일때는 쉼표를 꼭 넣는다
t3 = (1,2,3)
t4 = 1,2,3 #괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))

In [57]:
t1 = (1,2,'a','b')

In [58]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [59]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [60]:
t1[0]

1

In [62]:
t1[1]

2

In [63]:
t1[1:]

(2, 'a', 'b')

In [64]:
t2 = (3,4)

In [65]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [66]:
t2*2

(3, 4, 3, 4)

In [67]:
t1 = (1,2,3,4)

In [68]:
len(t1)

4

In [69]:
a ={1 :'hi'}

In [70]:
a = {'a' : [1,2,3]}

In [71]:
a

{'a': [1, 2, 3]}

In [72]:
a = { 1: 'a'}

In [73]:
a

{1: 'a'}

In [74]:
a[2] ='b'

In [75]:
a

{1: 'a', 2: 'b'}

In [76]:
a['name']='pey'

In [77]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [78]:
del a[1]

In [79]:
a

{2: 'b', 'name': 'pey'}

In [80]:
grade = {'pay' :10, 'Julliet':99}

In [82]:
grade['pay']

10

In [83]:
grade['Julliet']

99

In [84]:
dic ={'name' : 'pey', 'phone': '0119993323', 'birth' :'1118'}

In [86]:
dic {'name'}

SyntaxError: invalid syntax (<ipython-input-86-39e3853b70e6>, line 1)

In [87]:
####set#####

In [89]:
s1 = set([1,2,3])

In [90]:
s1

{1, 2, 3}

In [91]:
s2 = set("Hello")

In [92]:
s2

{'H', 'e', 'l', 'o'}

In [93]:
s1

{1, 2, 3}

l1 = list(s1)

l1

t1 = tuple(s1)

In [94]:
t1

(1, 2, 3, 4)

In [96]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

In [97]:
s1&s2

{4, 5, 6}

In [98]:
s1.intersection(s2)

{4, 5, 6}

In [99]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
s1 - s2

{1, 2, 3}

s2 -s1

In [102]:
s2- s1

{7, 8, 9}

In [103]:
s1.difference(s2)

{1, 2, 3}

In [104]:
s1 = set([1,2,3])

In [105]:
s1.add(4)

In [106]:
s1

{1, 2, 3, 4}

In [108]:
s1.update([4,5,6])

In [109]:
s1

{1, 2, 3, 4, 5, 6}

In [110]:
##Bool##

In [111]:
a = True

In [112]:
b = False

In [113]:
type(a)

bool

In [114]:
type(b)

bool

In [115]:
1 == 1

True

In [116]:
1 == 2

False

2 < 1

In [117]:
"python"

'python'

In [120]:
a =[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [121]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [122]:
bool("python")

True

In [123]:
bool('')

False

In [124]:
bool({1,2,3})

True

In [125]:
bool({})

False

In [126]:
bool(0)

False

In [127]:
bool(3)

True

In [128]:
s1 = set(80, 75, 55)

TypeError: set expected at most 1 argument, got 3

In [129]:
a=80

In [130]:
b=75

In [131]:
c=55

In [132]:
a+b+c

210

In [133]:
(a+b+c)/3

70.0

In [134]:
13 % 2

1

In [135]:
left= 13 % 2

In [138]:
if(left=1)
    print("홀수")
else
    print("짝수")

SyntaxError: invalid syntax (<ipython-input-138-d78aa357d200>, line 1)

In [147]:
SN='881120-1068234'
BIRTH=SN[:6]
num= SN[7:]
print(BIRTH)
print(num)
sex=SN[7]
print(sex)

881120
1068234
1

In [149]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [150]:
money = 5000
if money >= 3000:
    print("택시 타자")
else:
    print("걸어가자")

택시 타자

In [152]:
money =2000
card = True
if money >= 3000 or card:
    print("택시 타자")
    
else:
    print("걸어가자")

택시 타자

In [157]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시타자")
else :
    print("걸어가자")

택시타자

In [158]:
pocket = ['paper', 'handphone']
card = True

if 'money' in pocket:
    print('택시를 타라')
elif card:
    print("택시를 타라")
else:
    print ("걸어가라")

택시를 타라

In [161]:
score =100

if score >= 60:
    message = "success"
else:
    message ="failure"
    
message ="success" if score >= 60 else "failure"

In [162]:
##################################while

In [163]:
treeHit = 0 
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다. ' % treeHit)
    if treeHit ==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [168]:
prompt ="''"
1. Add
2. Del
3. List
4. Quit
...
Enter number:
===

number = 0
while number != 4 :
    print(prompt)
    number = int(input())

SyntaxError: invalid syntax (<ipython-input-168-beb691b9ce28>, line 2)

In [171]:
coffee = 10
money =300
while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee - 1
    print('남은 커피의 양은 %d 개 입니다.' % coffee)
    if coffee == 0:
    print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
    break

IndentationError: expected an indented block (<ipython-input-171-1435300d468b>, line 8)

In [173]:
coffee = 10
while True:
    money = int(input("돈을 넣어주세요: "))
    if money ==300 :
        print("커피를 줍니다.")
        coffee = coffee -1
        elif money > 300:
            print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
            coffee = coffee -1
        else:
            print("돈을 다시 돌려주고 커피를 주지 않습니다.")
            print("남은 커피의 양은 %d개 입니다." % coffee)
        if coffee ==0:
            print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
            break

SyntaxError: invalid syntax (<ipython-input-173-bd9778a959f9>, line 7)

In [175]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0 : continue
    print(a)

1
3
5
7
9

In [178]:
a = 0
while a < 10 :
    a = a+1
    if a % 2 == 1 : continue
    print(a)

2
4
6
8
10

In [179]:
test_list =['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [180]:
a =[(1,2), (3,4), (5,6)]

In [181]:
for (first, last) in a :
    print(first + last)

3
7
11